---
import type { HTMLAttributes } from 'astro/types';
import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'span'>;

export const breadcrumbEllipsis = tv({
    base: 'flex size-6 items-center justify-center [&>svg]:size-4',
});

const { class: className, ...rest } = Astro.props;
---

<span
    role="presentation"
    aria-hidden="true"
    class={breadcrumbEllipsis({ class: className })}
    {...rest}
    data-slot="breadcrumb-ellipsis">
    <slot name="icon">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle
                cx="5"
                cy="12"
                r="1"></circle></svg
        >
    </slot>
    <slot>
        <span class="sr-only">More</span>
    </slot>
</span>
