<section
    class="relative md:overflow-hidden pt-28 pb-12 md:pt-40 md:pb-20 lg:pt-48"
>
    <div
        class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[50%] -translate-y-[10%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"
    >
    </div>

    <div class="relative md:h-[calc(100vh-272px)] z-10 container mx-auto">
        <div
            class="grid h-full grid-cols-1 gap-x-20 gap-y-10 md:grid-cols-[1fr_1fr] xl:gap-x-48"
        >
            <div>
                <div
                    class="flex h-full flex-col justify-between gap-6 md:gap-24"
                >
                    <div>
                        <h1
                            class="mb-4 text-5xl leading-tight font-bold text-gray-900 lg:text-[3.625rem] xl:text-6xl dark:text-white"
                        >
                            Potencia tu empresa con
                            <samp class="text-primary font-semibold rounded">
                                Devs
                            </samp>&ZeroWidthSpace;
                            <samp
                                class="px-1.5 py-0.5 bg-primary text-accent font-semibold rounded"
                            >
                                hub
                            </samp>
                        </h1>
                        <p class="text-lg text-muted-foreground">
                            Nuestra plataforma ofrece herramientas e información
                            poderosas para ayudarte a gestionar, hacer crecer y
                            proteger tus activos financieros. Con Devs hub,
                            tendrás acceso a recursos que te permitirán tomar
                            decisiones informadas y estratégicas. Desde análisis
                            de mercado hasta asesoramiento personalizado,
                            estamos aquí para apoyarte en cada paso de tu viaje
                            financiero. Únete a nosotros y descubre cómo podemos
                            ayudarte a crecer.
                        </p>
                    </div>
                    <div class="flex flex-wrap items-center gap-5">
                        <a
                            href="#"
                            data-slot="button"
                            class="justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-primary text-primary-foreground shadow-xs hover:bg-primary/90 has-[>svg]:px-3 group flex h-fit w-fit items-center gap-2 rounded-full px-8 py-3"
                        >
                            <div class="font-medium text-white">
                                Comienza gratis
                            </div>
                            <div class="relative h-6 w-7 overflow-hidden">
                                <div
                                    class="absolute top-0 left-0 flex -translate-x-1/2 items-center transition-all duration-500 group-hover:translate-x-0"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-move-right h-6! w-6! stroke-white px-1"
                                        aria-hidden="true"
                                        ><path d="M18 8L22 12L18 16"
                                        ></path><path d="M2 12H22"></path></svg
                                    ><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-move-right h-6! w-6! stroke-white px-1"
                                        aria-hidden="true"
                                        ><path d="M18 8L22 12L18 16"
                                        ></path><path d="M2 12H22"></path></svg
                                    >
                                </div>
                            </div>
                        </a>
                        <p class="text-muted-foreground">
                            No hay cuota de inscripción. No hay cuota anual.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative">
                <div class="h-full w-full md:max-w-[37.5rem]">
                    <img
                        src="/images/placeholder.svg"
                        alt=""
                        class="aspect-[1.026845638/1] h-full w-full rounded-xl object-cover object-center lg:aspect-[1.34529148/1]"
                    />
                </div>
                <div class="absolute bottom-[4%] left-[4%] w-36 lg:w-56">
                    <div data-radix-aspect-ratio-wrapper="">
                        <div
                            data-slot="aspect-ratio"
                            class="overflow-hidden rounded-lg border shadow-sm"
                        >
                            <img
                                src="/images/placeholder.svg"
                                alt=""
                                class="h-full w-full object-cover object-center"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute -top-36 right-0 hidden w-1/2 rounded-bl-[1.875rem] md:block md:h-[34.375rem] xl:h-[41.5625rem]"
    >
        <img
            src="/images/hero/placeholder-8-wide.svg"
            alt=""
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>
