---
import { MoveRight } from "lucide-react";
import Button from "../ui/Button.astro";
import LogoMarquee from "../logo-marquee";
import { DevanthosIcon } from "../icons";
---

<section
    class="relative md:overflow-hidden pt-28 pb-12 md:pt-40 md:pb-20 lg:pt-48"
>
    <div
        class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[50%] -translate-y-[10%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"
    >
    </div>

    <div
        class="relative 2xl:h-[calc(100vh-272px)] z-10 container mx-auto px-2 md:px-6 lg:px-8"
    >
        <div
            class="grid h-full grid-cols-1 gap-x-20 gap-y-10 md:grid-cols-[1fr_1fr] xl:gap-x-48"
        >
            <div>
                <div
                    class="flex h-full flex-col justify-between gap-6 2xl:gap-10"
                >
                    <div>
                        <h1
                            class="mb-4 text-4xl leading-tight font-cocogoose font-normal text-gray-900 lg:text-[3.625rem] xl:text-6xl dark:text-white"
                        >
                            Potencia tu empresa con
                            <span class="inline-flex items-baseline">
                                <DevanthosIcon
                                    className="relative -bottom-[3px] size-9 lg:size-12 align-baseline fill-primary"
                                />
                                <span class="ml-[2px]">
                                    <span class="sr-only">D</span>
                                    evanthos
                                </span>
                            </span>
                        </h1>
                        <p class="text-lg text-balance text-muted-foreground">
                            Encontrarás todo lo que necesitas para potenciar tu
                            empresa o emprendimiento. Desde desarrollo web y
                            móvil hasta marketing digital, ofrecemos soluciones
                            personalizadas para ayudarte a alcanzar tus
                            objetivos. Nuestro equipo de expertos está listo
                            para llevar tu proyecto al siguiente nivel.
                            ¡Contáctanos hoy mismo y descubre cómo podemos
                            ayudarte a crecer!
                        </p>
                    </div>
                    <LogoMarquee client:load />
                    <div class="flex flex-wrap items-center gap-5">
                        <Button
                            href="https://wa.me/5491167891234?text=Hola%20me%20interesa%20la%20consultoria%20gratuita"
                            variant="primary"
                            class="group"
                        >
                            <div class="font-medium text-white">
                                Consultoría gratuita
                            </div>
                            <div class="relative h-6 w-7 overflow-hidden">
                                <div
                                    class="absolute top-0 left-0 flex -translate-x-1/2 items-center transition-all duration-500 group-hover:translate-x-0"
                                >
                                    <MoveRight
                                        className="h-6! w-6! stroke-white px-1"
                                    />
                                    <MoveRight
                                        className="h-6! w-6! stroke-white px-1"
                                    />
                                </div>
                            </div>
                        </Button>
                        <p class="text-muted-foreground">
                            <span class="font-semibold">¡Contáctanos!</span>
                            <br />
                            <a href="mailto:contacto@devanthos.com">
                                contacto@devanthos.com
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative">
                <div class="relative h-full w-full z-10">
                    <img
                        src="/images/hero/sistema-html-diseno-collages-sitios-web_23-2150432955.avif"
                        alt=""
                        class="aspect-square h-full w-full rounded-xl object-cover object-center"
                    />
                </div>
                <div class="absolute inset-0 h-full w-full blur-2xl z-0">
                    <img
                        src="/images/hero/sistema-html-diseno-collages-sitios-web_23-2150432955.avif"
                        alt=""
                        class="aspect-square h-full w-full rounded-xl object-cover object-center"
                    />
                </div>
                <div class="absolute z-20 bottom-[4%] left-[4%] w-36 lg:w-56">
                    <div data-radix-aspect-ratio-wrapper="">
                        <div
                            data-slot="aspect-ratio"
                            class="overflow-hidden rounded-lg border shadow-sm"
                        >
                            <img
                                src="/images/hero/marketing-influencers-png-collage-redes-sociales-remix-fondo-transparente_53876-1038872.avif"
                                alt=""
                                class="h-full w-full object-cover object-center"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute -top-36 right-0 hidden w-1/2 rounded-bl-[1.875rem] md:block md:h-[34.375rem] xl:h-[41.5625rem]"
    >
        <img
            src="/images/hero/placeholder-8-wide.svg"
            alt=""
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>
